#about-me {
    padding: 20px;
    padding-bottom: 100px; 
    background-color: #f9f9f9;
  }
  
  
  #about-me h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  #about-me img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px auto;
  }
  
  #about-me p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
    padding: 0 20px;
  }
  
  @media screen and (min-width: 600px) {
    #about-me {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    #about-me p {
      width: 60%;
      padding: 0;
    }
  }
  
  @media screen and (min-width: 800px) {
    #about-me p {
      width: 50%;
    }
  }
  